In [1]:
import pandas as pd
import numpy as np
# For model evaluation
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
# For model training
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
#load dataset into a dataframe
df = pd.read_csv('Datasets/LifeExpectancyData.csv')
#show top 5 rows of dataframe
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [3]:
#find missing values in all records
df.isna().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [4]:
df.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

In [5]:
#countries with zero value of life expentancy
empty_country_names = df[df['Life expectancy '].isna()]['Country']
empty_country_names.value_counts()

Cook Islands             1
Dominica                 1
Marshall Islands         1
Monaco                   1
Nauru                    1
Niue                     1
Palau                    1
Saint Kitts and Nevis    1
San Marino               1
Tuvalu                   1
Name: Country, dtype: int64

In [6]:
#strip white spaces in country row
df['Country'] = df['Country'].str.strip()
# show rows from empty_country_names only
[df[df['Country']==value] for value in empty_country_names]

[          Country  Year      Status  Life expectancy   Adult Mortality  \
 624  Cook Islands  2013  Developing               NaN              NaN

      infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
 624              0     0.01                     0.0         98.0         0

      ...  Polio  Total expenditure  Diphtheria    HIV/AIDS  GDP  Population  \
 624  ...   98.0               3.58         98.0        0.1  NaN         NaN

       thinness  1-19 years   thinness 5-9 years  \
 624                    0.1                  0.1

      Income composition of resources  Schooling
 624                              NaN        NaN

 [1 rows x 22 columns],
       Country  Year      Status  Life expectancy   Adult Mortality  \
 769  Dominica  2013  Developing               NaN              NaN

      infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
 769              0     0.01               11.419555         96.0         0

      ...  Polio  Total expenditure  Diphtheria    HIV/AIDS        GDP  \
 769  ...   96.0               5.58         96.0        0.1  722.75665

      Population   thinness  1-19 years   thinness 5-9 years  \
 769         NaN                    2.7                  2.6

      Income composition of resources  Schooling
 769                            0.721       12.7

 [1 rows x 22 columns],
                Country  Year      Status  Life expectancy   Adult Mortality  \
 1650  Marshall Islands  2013  Developing               NaN              NaN

       infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
 1650              0     0.01              871.878317          8.0         0

       ...  Polio  Total expenditure  Diphtheria    HIV/AIDS          GDP  \
 1650  ...   79.0              17.24         79.0        0.1  3617.752354

       Population   thinness  1-19 years   thinness 5-9 years  \
 1650         NaN                    0.1                  0.1

       Income composition of resources  Schooling
 1650                              NaN        0.0

 [1 rows x 22 columns],
      Country  Year      Status  Life expectancy   Adult Mortality  \
 1715  Monaco  2013  Developing               NaN              NaN

       infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
 1715              0     0.01                     0.0         99.0         0

       ...  Polio  Total expenditure  Diphtheria    HIV/AIDS  GDP  Population  \
 1715  ...   99.0                4.3         99.0        0.1  NaN         NaN

        thinness  1-19 years   thinness 5-9 years  \
 1715                    NaN                  NaN

       Income composition of resources  Schooling
 1715                              NaN        NaN

 [1 rows x 22 columns],
      Country  Year      Status  Life expectancy   Adult Mortality  \
 1812   Nauru  2013  Developing               NaN              NaN

       infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
 1812              0     0.01               15.606596         87.0         0

       ...  Polio  Total expenditure  Diphtheria    HIV/AIDS        GDP  \
 1812  ...   87.0               4.65         87.0        0.1  136.18321

       Population   thinness  1-19 years   thinness 5-9 years  \
 1812         NaN                    0.1                  0.1

       Income composition of resources  Schooling
 1812                              NaN        9.6

 [1 rows x 22 columns],
      Country  Year      Status  Life expectancy   Adult Mortality  \
 1909    Niue  2013  Developing               NaN              NaN

       infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
 1909              0     0.01                     0.0         99.0         0

       ...  Polio  Total expenditure  Diphtheria    HIV/AIDS  GDP  Population  \
 1909  ...   99.0                7.2         99.0        0.1  NaN         NaN

        thinness  1-19 years   thinness 5-9 years  \
 1909                    0.1                  0.1

       Income composition of resources  Schooling
 1909                              NaN        NaN

 [1 rows x 22 columns],
      Country  Year      Status  Life expectancy   Adult Mortality  \
 1958   Palau  2013  Developing               NaN              NaN

       infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
 1958              0      NaN              344.690631         99.0         0

       ...  Polio  Total expenditure  Diphtheria    HIV/AIDS         GDP  \
 1958  ...   99.0               9.27         99.0        0.1  1932.12237

       Population   thinness  1-19 years   thinness 5-9 years  \
 1958       292.0                    0.1                  0.1

       Income composition of resources  Schooling
 1958                            0.779       14.2

 [1 rows x 22 columns],
                     Country  Year      Status  Life expectancy   \
 2167  Saint Kitts and Nevis  2013  Developing               NaN

       Adult Mortality  infant deaths  Alcohol  percentage expenditure  \
 2167              NaN              0     8.54                     0.0

       Hepatitis B  Measles   ...  Polio  Total expenditure  Diphtheria   \
 2167         97.0         0  ...   96.0               6.14         96.0

        HIV/AIDS  GDP  Population   thinness  1-19 years   thinness 5-9 years  \
 2167        0.1  NaN         NaN                    3.7                  3.6

       Income composition of resources  Schooling
 2167                            0.749       13.4

 [1 rows x 22 columns],
          Country  Year      Status  Life expectancy   Adult Mortality  \
 2216  San Marino  2013  Developing               NaN              NaN

       infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
 2216              0     0.01                     0.0         69.0         0

       ...  Polio  Total expenditure  Diphtheria    HIV/AIDS  GDP  Population  \
 2216  ...   69.0                6.5         69.0        0.1  NaN         NaN

        thinness  1-19 years   thinness 5-9 years  \
 2216                    NaN                  NaN

       Income composition of resources  Schooling
 2216                              NaN       15.1

 [1 rows x 22 columns],
      Country  Year      Status  Life expectancy   Adult Mortality  \
 2713  Tuvalu  2013  Developing               NaN              NaN

       infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
 2713              0     0.01               78.281203          9.0         0

       ...  Polio  Total expenditure  Diphtheria    HIV/AIDS         GDP  \
 2713  ...    9.0              16.61          9.0        0.1  3542.13589

       Population   thinness  1-19 years   thinness 5-9 years  \
 2713      1819.0                    0.2                  0.1

       Income composition of resources  Schooling
 2713                              NaN        0.0

 [1 rows x 22 columns]]

In [7]:
#convert the list of countries to a list
value_list = empty_country_names.index.tolist()
#print(value_list)
#summary of empty values of
df.loc[value_list].isnull().sum()

Country                             0
Year                                0
Status                              0
Life expectancy                    10
Adult Mortality                    10
infant deaths                       0
Alcohol                             1
percentage expenditure              0
Hepatitis B                         0
Measles                             0
 BMI                                2
under-five deaths                   0
Polio                               0
Total expenditure                   0
Diphtheria                          0
 HIV/AIDS                           0
GDP                                 5
Population                          8
 thinness  1-19 years               2
 thinness 5-9 years                 2
Income composition of resources     7
Schooling                           3
dtype: int64

In [8]:
#dropping the rows due to multple empty values
df = df.drop(value_list,axis=0).reset_index(drop=True)
df.isna().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                            193
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                32
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                443
Population                         644
 thinness  1-19 years               32
 thinness 5-9 years                 32
Income composition of resources    160
Schooling                          160
dtype: int64

In [9]:
#select developing countries data only
df = df[df['Status']== 'Developing']
#print(df)
df.isna().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                            165
percentage expenditure               0
Hepatitis B                        380
Measles                              0
 BMI                                32
under-five deaths                    0
Polio                               19
Total expenditure                  194
Diphtheria                          19
 HIV/AIDS                            0
GDP                                379
Population                         548
 thinness  1-19 years               32
 thinness 5-9 years                 32
Income composition of resources    112
Schooling                          112
dtype: int64

In [10]:
# fill missing values in alcohol column with the median of that country
df_alcohol = df.groupby(df['Country'])[['Alcohol']].median()
for row_ in df_alcohol.itertuples():
    for row in df.itertuples():
        if row.Country== row_[0]:
            med = row_.Alcohol
            df["Alcohol"].fillna(med, inplace=True)
        # df.fillna()

In [11]:
# fill missing values in bmi column with the median of that country
df_bmi = df.groupby(df['Country'])[[' BMI ']].median()
for row_ in df_bmi.itertuples():
    for row in df.itertuples():
        if row.Country== row_[0]:
            med = row_[1]
            # print(row)
            # print(med)
            df[" BMI "].fillna(med, inplace=True)
        # df.fillna()

In [12]:
# fill missing values in bmi column with the median of that country
df_gdp = df.groupby(df['Country'])[['GDP']].median()
for row_ in df_gdp.itertuples():
    for row in df.itertuples():
        if row.Country== row_[0]:
            med = row_[1]
            # print(row)
            # print(med)
            df["GDP"].fillna(med, inplace=True)
df.isna().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                        380
Measles                              0
 BMI                                 0
under-five deaths                    0
Polio                               19
Total expenditure                  194
Diphtheria                          19
 HIV/AIDS                            0
GDP                                  0
Population                         548
 thinness  1-19 years               32
 thinness 5-9 years                 32
Income composition of resources    112
Schooling                          112
dtype: int64

In [13]:
# fill missing values in bmi column with the median of that country
df_schooling = df.groupby(df['Country'])[['Schooling']].median()
for row_ in df_schooling.itertuples():
    for row in df.itertuples():
        if row.Country== row_[0]:
            med = row_[1]
            # print(row)
            # print(med)
            df["Schooling"].fillna(med, inplace=True)
df.isna().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                        380
Measles                              0
 BMI                                 0
under-five deaths                    0
Polio                               19
Total expenditure                  194
Diphtheria                          19
 HIV/AIDS                            0
GDP                                  0
Population                         548
 thinness  1-19 years               32
 thinness 5-9 years                 32
Income composition of resources    112
Schooling                            0
dtype: int64

In [14]:
# fill missing values in bmi column with the median of that country
df_schooling = df.groupby(df['Country'])[['Income composition of resources']].median()
for row_ in df_schooling.itertuples():
    for row in df.itertuples():
        if row.Country== row_[0]:
            med = row_[1]
            # print(row)
            # print(med)
            df["Income composition of resources"].fillna(med, inplace=True)
df.isna().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                        380
Measles                              0
 BMI                                 0
under-five deaths                    0
Polio                               19
Total expenditure                  194
Diphtheria                          19
 HIV/AIDS                            0
GDP                                  0
Population                         548
 thinness  1-19 years               32
 thinness 5-9 years                 32
Income composition of resources      0
Schooling                            0
dtype: int64

In [15]:
df = df[[' BMI ','GDP', 'Income composition of resources', 'Schooling', 'Life expectancy ']]
# ['Country',
#  'Year',
#  'Status',
#  'Life expectancy ',
#  'Adult Mortality',
#  'infant deaths',
#  'Alcohol',
#  'percentage expenditure',
#  'Hepatitis B',
#  'Measles ',
#  ' BMI ',
#  'under-five deaths ',
#  'Polio',
#  'Total expenditure',
#  'Diphtheria ',
#  ' HIV/AIDS',
#  'GDP',
#  'Population',
#  ' thinness  1-19 years',
#  ' thinness 5-9 years',
#  'Income composition of resources',
#  'Schooling']
df.isna().sum()

 BMI                               0
GDP                                0
Income composition of resources    0
Schooling                          0
Life expectancy                    0
dtype: int64

In [16]:
# renaming columns
df_trim = df.rename(columns={'Life expectancy ':'life_expectancy', 
                                                          ' BMI ':'bmi',  
                                                          'Income composition of resources':'income_comp_res', 
                                                          'Schooling':'schooling',
                                                         'GDP':'gdp'})
df_trim.head()

    bmi         gdp  income_comp_res  schooling  life_expectancy
0  19.1  584.259210            0.479       10.1             65.0
1  18.6  612.696514            0.476       10.0             59.9
2  18.1  631.744976            0.470        9.9             59.9
3  17.6  669.959000            0.463        9.8             59.5
4  17.2   63.537231            0.454        9.5             59.2

In [17]:
# Train test split
training_data = df_trim.sample(frac=0.7, random_state=25)
testing_data = df_trim.drop(training_data.index)

print(f"No. of training examples: {training_data.shape[0]}")
print(f"No. of testing examples: {testing_data.shape[0]}")

No. of training examples: 1691
No. of testing examples: 725

In [18]:
# Separate target from features
y = training_data['life_expectancy']

features = training_data.drop(['life_expectancy'], axis=1)

# Remove target variable from test data
y_testing = testing_data['life_expectancy']
testing_data.drop(['life_expectancy'], axis=1, inplace=True)

# Preview features
features.head()

       bmi           gdp  income_comp_res  schooling
1954  56.3  11685.979830            0.773      12.90
728   17.8    321.199783            0.424       8.55
2687  53.5   4316.553895            0.641      10.70
1302  49.7   4293.383274            0.721      12.70
402   18.2    699.452847            0.392       7.50

In [19]:
X_train, X_valid, y_train, y_valid = train_test_split(features, y, random_state=0)
#Define the model (Multivariate) 
regr = LinearRegression()

# Train the model
model = regr.fit(X_train, y_train)
model.coef_

array([1.23500204e-01, 9.00813185e-05, 9.62239258e+00, 9.60148554e-01])

In [20]:
model.intercept_

46.34430248701351

In [21]:
#predict
preds_valid = model.predict(X_valid)

print(mean_squared_error(y_valid, preds_valid, squared=False))

6.0392057558103165

In [22]:
#predict testing data and find  mean squqred error
preds_test = model.predict(testing_data)

print(mean_squared_error(y_testing, preds_test, squared=False))

6.0317085458802175

In [24]:
# predicting the accuracy score
score=r2_score(y_testing, preds_test)
print('r2 score is ',score)

r2 socre is  0.5458019107683207
root_mean_squared error of is== 6.0317085458802175