In [1]:
# Import useful libraries
# For model training and evaluation
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

from sklearn.impute import SimpleImputer

# Data preprocessing
import numpy as np # linear algebra
import pandas as pd # data processing, 

# Plottting lib
import matplotlib.pyplot as plt
import seaborn as sns

# Loading preprocessed data

In [5]:
# Read the data
train_data = pd.read_csv('Datasets/train.csv')
test_data = pd.read_csv('Datasets/test.csv')

In [6]:
train_data.head()

,life_expectancy,adult_mortality,bmi,hiv_aids,income_comp_res,schooling
0,73.9,92.0,64.7,0.1,0.804,13.9
1,82.1,61.0,64.2,0.1,0.891,15.9
2,63.8,247.0,18.9,1.3,0.464,10.2
3,65.2,24.0,39.6,1.1,0.622,11.7
4,64.0,221.0,38.1,0.1,0.000,10.2

In [7]:
test_data.head()

   adult_mortality   bmi  hiv_aids  income_comp_res  schooling
0            268.0  18.1       0.1            0.470        9.9
1            291.0  14.2       0.1            0.396        7.9
2            316.0  12.6       0.1            0.340        5.9
3             88.0  55.1       0.1            0.738       13.3
4             91.0  53.5       0.1            0.721       12.2

In [10]:
# Separate target from features
y = train_data['life_expectancy']

features = train_data.drop(['life_expectancy'], axis=1)

In [13]:
features.describe()

       adult_mortality          bmi     hiv_aids  income_comp_res    schooling
count      1941.000000  1941.000000  1941.000000      1941.000000  1941.000000
mean        184.776232    35.284575     2.100979         0.578977    11.177800
std         128.466020    19.412915     5.506793         0.200322     3.016057
min           1.000000     1.000000     0.100000         0.000000     0.000000
25%          94.000000    18.300000     0.100000         0.474000     9.700000
50%         165.000000    35.435326     0.100000         0.617000    11.500000
75%         254.000000    53.200000     1.500000         0.721000    13.100000
max         723.000000    82.800000    50.300000         0.919000    17.700000

In [20]:
X_train, X_valid, y_train, y_valid = train_test_split(features.adult_mortality, y, random_state=0)

In [17]:
X_train.head()

529     441.0
1203    177.0
378     157.0
568     161.0
1494    172.0
Name: adult_mortality, dtype: float64

# Model training

In [23]:
#Define the model (Univariate) 
model = LinearRegression()

# Train the model
model.fit(X_train.values.reshape(-1, 1), y_train)
preds_valid = model.predict(X_valid.values.reshape(-1, 1))

# Model evaluation

In [24]:
# print MSE
print(mean_squared_error(y_valid, preds_valid, squared=False))

6.4027696871184565

# Model inference

In [26]:
preds_test = model.predict(test_data.adult_mortality.values.reshape(-1, 1))

In [28]:
# Dataframe of prediction outcome for each individual row in test data
output = pd.DataFrame({'Id': test_data.index,
                       'LifeExpectancy': preds_test})

In [29]:
output.head()

   Id  LifeExpectancy
0   0       63.056583
1   1       61.991713
2   2       60.834247
3   3       71.390345
4   4       71.251449